@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-main: #1862b9;
    --color-bg: #f9f9f9;
    --color-font-main: #343434;
    --color-font-light: #f8f8f8;
    --color-semi-black: #dedede;
    --color-category: #b4c2d6;
    --color-hover: #f0f0f0;
    --color-hover-darker: #bfbfbf;

    --bordered-md: 10px;
    --bordered-lg: 15px;

    --shadow-base: 0 10px 10px -5px rgba(0, 0, 0, 0.15);

    --font-heading: 1.5rem;
    --font-sub-heading: 1.3rem;
}

::selection {
    background: var(--color-hover-darker);
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    min-width: 320px;
    color: var(--color-font-main)
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

input,
button {
    outline: none;
    border: none;
    background-color: transparent;

    font-family: inherit;
}

.page {
    display: grid;
    grid-template-columns: 230px 1fr;

    width: 100%;
    min-height: 100vh;

    &-content {
        animation: show 0.4s linear forwards;

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 1rem;
            background-color: var(--color-bg);
        }
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}