.transactions {
    grid-row: 1 / 3;
    grid-column: 2;

    border-radius: var(--bordered-lg);

    padding: 1.5rem 2rem;

    color: var(--color-font-main);
    background-color: #fff;

    box-shadow: var(--shadow-larger-darker);

    &_title {
        font-size: var(--font-sub-heading);
        font-weight: 500;
    }
}