.rdp {
    padding: .5em;
    border: 1px solid var(--color-hover-darker);
    border-radius: 5px;

    &-cell {
        text-align: center;

        .rdp-day {
            width: 100%;
            text-align: center;
            border-radius: 5px;

            transition: background-color .2s ease-in-out, border-radius .2s ease-in-out;

            &:hover {
                background-color: var(--color-hover);
            }

            &_selected {
                background-color: var(--color-hover-darker) !important;
            }

            &_range {

                &_start {
                    border-radius: 5px 0px 0px 0px;
                }

                &_middle {
                    border-radius: 0;
                }

                &_end {
                    border-radius: 0px 0px 5px 0px;
                }

                &_start.rdp-day_range_end {
                    border-radius: 5px;
                }
            }
        }
    }

    &-nav {
        display: flex;
        gap: 0.2em;
    }

    &-nav,
    &-caption_label {
        margin-bottom: 0.4em;
    }
}