.filters {
    display: grid;
    width: 100%;
    gap: 0.7rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.filter_select {
    width: 100%;
    height: 100%;

    outline: none;

    svg {
        transition: transform .2s ease-in-out;
    }

    div[class*="css"] {
        cursor: inherit;
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
    }

    &:has(div[class*="menu"]) {
        border-color: var(--color-font-main);

        svg {
            transform: rotate(180deg);
        }
    }

    div[class*="menu"] {
        border-radius: 8px;
        top: 110%;
        left: 0;
        overflow: hidden;
        border: 1px solid var(--color-font-semi);

        div[class*="option"] {
            padding: 0.3em 0.5em;
        }

        div[aria-selected="true"] {
            background-color: var(--color-hover);
            color: var(--color-font-main)
        }

        div[aria-selected="false"] {
            background-color: white;
        }
    }

    span[class*="css"] {
        display: none;
    }

    svg {
        fill: var(--color-font-main);
    }
}

.date_picker_wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.day_picker {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;

    table {
        width: 100%;
    }

    &.opened {
        pointer-events: all;
        opacity: 1;
    }
}